body {
    background-color: rgb(33, 71, 21);
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Mali', cursive;
}


h1 {
    visibility: hidden;
    font-family: 'Mali', cursive;
    font-size: 2em;

}

/* Para el navbar */

nav {
    background: rgb(33, 71, 21);
    height: 20px;
    width: 100%;
    font-family: 'Mali', cursive;

}


nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 20px;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul #hey {
    float: right;
}

a.active,
a:hover {
    background: rgba(17, 17, 17, 0.4);
    transition: .5s;
}

.logovsresponsive {
    display: none;
}


.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    /* Para que cuando pases por encima del elemento se vuelva una mano */
    cursor: pointer;
    display: none;
}


#check {
    display: none;
}

label.logo {
    color: white;
    font-size: 20px;
    line-height: 50px;
    padding: 0 100px;
    font-weight: bold;
}


.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(350px + em);
}

.slide-open:checked+.slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
        -1px 0px 2px rgba(255, 255, 255, 0);
}


/*menu flor*/


h3.m {
    color: white;
    margin-left: 590px;
    display: flex;
    font-family: 'Mali', cursive;

}

.mno {
    color: white;
    text-align: center;
}

.mimenu {
    text-align: center;
    display: block;

}

p {
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Mali', cursive;
}

.seccion-img {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-family: 'Mali', cursive;
    margin-bottom: 5%;


}


div.imagen {
    margin: 50px;
    width: auto;
    font-family: 'Mali', cursive;

}

div.imagen img {
    width: 100%;
    height: 70%;
    font-family: 'Mali', cursive;
}

div.imagen:hover {
    border: 0px solid wheat;
    font-family: 'Mali', cursive;
}

/* termina menu flor */


.img-flex {
    height: 300px;
    /*align-items: stretch;*/
    border-radius: 10%;
}




.centro-comercial {
    text-align: center;
    color: white;
    font-weight: bold;

}

.telefono {
    color: rgb(246, 140, 41);
    font-family: 'Mali', cursive;

}




/* Aqui termina la seccion localizaciones*/
.container-pie-pagina {
    margin: auto;
    width: 100%;
    min-height: 200px;
    text-align: center;
    display: block;

}


.Pedidos-y-Reservas {
    width: 100%;
    background-position: center center;



}


.footer-line {
    text-align: center;

}

.localizaciones {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 10%;

}


.cajita-texto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 267px;
}

.imagenfooter {
    text-align: center;

}

@media (max-width: 983px) {

    nav ul li a {
        font-size: 16px;
    }

    label.logo {
        font-size: 15px;
        padding-left: 50px;
    }


    .logovsresponsive {
        display: none;
    }

    .cajita-texto {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 267px;
    }

    .localizaciones {
        display: flex;
        width: 100%;
        text-align: center;
        align-items: center;
        height: fit-content;
        /*margin-right: 20px;*/
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10%;

    }

    .img-flex {
        height: 300px;
        /*align-items: stretch;*/
        border-radius: 10%;
    }

    .mno {
        margin-top: 8%;
        color: white;
        text-align: center;
    }

    .imagenfooter {
        display: none;
    }

}

@media (max-width: 915px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(26, 55, 17);
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
        margin-left: 0;
        padding-left: 0;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        text-align: center;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: rgb(208, 103, 5);
    }

    #check:checked~ul {
        left: 0;
    }


    .logovsresponsive {
        display: inline-flex;
        width: 134px;

    }

    .logo {
        display: none;
    }

    .slide {
        display: none;

    }

    .localizaciones {
        display: none;
    }

    .mno {
        margin-top: 8%;
        color: white;
        text-align: center;
    }

    .imagenfooter {
        display: none;
    }

    #valoreschef {
        display: none;
    }

    #filosofia {
        display: none
    }
}